<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/custom.js}"></script>
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<header>

</header>

<body style="background-color: #dcdcdc;">
    <div class="p-3 bg-light text-center">
        <h1 th:text="#{title}"></h1>
        <div class="row">
            <div class="col-8 productsGrid container-sm w-75 d d-flex flex-sm-wrap justify-content-between mt-5 mr-0 ml-0">
                <div th:each="product : ${products}" th:object="${product}" class="card d d-flex mb-5 ml-3 mr-3" style="width: 30%;">
                    <!-- <div th:each="orderProduct : ${ordersProduct}" th:object="${orderProduct}" class="productListCards"> -->
                    <img class="card-img-top image-card" th:src="@{${product.url_product}}" alt="Card image">
                    <div class="card-body">
                        <h5 th:text="${product.name}" class="card-title"></h5>
                        <p th:text="${product.price}+€" class="card-text"></p>
                        <button class="btn btn-primary" th:text="#{add.cart}" th:onclick="'javascript:addNewProduct(' + ${product.id_product} + ')'"></button>
                    </div>
                    <!-- </div> -->
                </div>
            </div>



            <div class="col-4 mt-5 productList container-sm">
                <div class="container-fluid bg-white">
                    <div class="h5 mt-2 mb-4 pt-3 wrapperTitleCart">
                        <p class="titleCart" th:text="#{shopping.cart}"></p>
                        <i class="deleteCart fa fa-trash" th:onclick="'javascript:deleteCompleteOrder(3)'"></i>
                    </div>
                    <div th:each="orderProduct : ${ordersProduct}" th:object="${orderProduct}" class="productListCards ">
                        <p th:text="*{product.name} " class="font-weight-bold "></p>
                        <div class="selector ">
                            <button type="button " name="less " class="less " th:onclick=" 'javascript:removeProduct(' + ${orderProduct.product.id_product} + ')' ">-</button>
                            <p th:text="*{quantity} " class="qtyNumber "></p>
                            <button type="button " name="plus " class="plus " th:onclick=" 'javascript:addProduct(' + ${orderProduct.product.id_product} + ')' ">+</button>
                        </div>
                        <div class="totalAmout" th:with="total=${orderProduct.quantity * orderProduct.product.price}">
                            <p th:text="${#numbers.formatDecimal(total, 1, 'DEFAULT', 2, 'DEFAULT')}+€" th:with="totalCount=${total + total}"></p>
                        </div>
                        <div class="wraperCross">
                            <i th:if="${orderProduct.quantity gt 1}" class="fa fa-times crossDelete" th:onclick=" 'javascript:deleteProducts(' + ${orderProduct.id_orderproduct} + ')' "></i>
                        </div>
                    </div>
                    <div class="h5 mt-2 mb-4 pt-3 wrapperTotalPrice" th:object="${totalAmountPrice}">
                        <p class="totalTitle" th:text="#{total.amount}"></p>
                        <p class="totalPrice" th:text="${#numbers.formatDecimal(totalAmountPrice, 1, 'DEFAULT', 2, 'DEFAULT')}+€"></p>
                        <button class="btn btn-success" disabled="disabled" th:text="#{checkout}"></button>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <div th:insert="~{fragments/langSelector.html :: body} "></div>

</body>

</html>